$gray-1: #ededed;
$gray-2: #b9b9b9;
$gray-3: #6b6a6a;
$gray-4: #282828;
$yellow: #f7c000;
$blue: #347fe3;
$black: #000;
$white: #fff;
$table-medium-up: 600px;
$table-large-up: 1000px;
$form-medium-up: 850px;
$border-radius-1: 4px;
$border-radius-2: 8px;
