@import "../../assets/styles/variables";
.sort-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    margin: 0.2rem;
    cursor: pointer;
    font-size: 1.2rem;
  }
  &__entity {
    margin: 0.2rem;
    font-size: 1.5rem;
    color: $blue;
  }
}
